@import './base.css';

#app {
  margin: 0 ;
  padding: 0;
  font-weight: normal;
}
.root-container{
  padding: 0;
  margin: 0;
  height: 100%;
}
a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
  padding: 3px;
}

